{% extends 'main.html' %}

{% load static %}

{% block contenidoquecambia %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center mb-5" style="background-image: url({% static 'assets/img/book2.jpg' %});">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Autores del blog</h2>
        <ol>
          <li><a href="{% url 'Inicio' %}">Inicio</a></li>
          <li>Autores</li>
        </ol>

      </div>
 </div><!-- End Breadcrumbs -->

{% comment %} <ul>
   
     
  
</ul> {% endcomment %}

<table class="table table-striped table-hover">
  <thead>
      <tr>
          
          <th>Autor</th>
          <th>Área</th>
          <th>Profesión</th>
          <th>Seguidores</th>
      
      </tr>
  </thead>
  <tbody>

    {% for author in list_authors %}
    <tr>
      <td>{{ author.expertise }}</td>
      <td>{{ author.academic_titles }}</td>
      <td>{{ author.pseudonym }}</td>
      <td>{{ author.num_followers }}</td>
      <td>
        {% if user.is_staff %}
          <div style="display: flex; column-gap: 5px;">
            <button class="btn btn-warning">
              <a class="text-white" href="{% url 'Editar_autor' author.id %}">Editar autor</a>
            </button>
            <form action="{% url 'Editar_autor' author.id %}" method="POST">{% csrf_token %}
              <!-- <button type="submit"> Editar autor</button> -->
            </form>
            <button class="btn btn-danger">
              <a class="text-white" href="{% url 'Eliminar_autor' author.id %}">Eliminar autor</a>
            </button> 
          </div>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  
</table>


    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 posts-list">
          
          <div class="col-xl-4 col-md-6">
            <!-- <div class="post-item position-relative h-100">

              <div class="post-img position-relative overflow-hidden">
                <img src= {% static "assets/img/blog/blog-1.jpg" %}  class="img-fluid" alt="">
                <span class="post-date">Abril  08</span>
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title">La evolución del derecho en la era Blockchai: ¿Qué está por venir?</h3>

                <div class="meta d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i> <span class="ps-2">Gisele Cano</span>
                  </div>
                  <span class="px-3 text-black-50">/</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i> <span class="ps-2">Blockchain</span>
                  </div>
                </div>

                <p>
                  El impacto del Blockchain en el derecho y casos de uso.
                </p>

                <hr>
                <a href= "{% url "Leer mas" %} " class="readmore stretched-link"><span>Leer mas...</span><i
                    class="bi bi-arrow-right"></i></a>

              </div>

            </div> -->
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <div class="post-item position-relative h-100">

              <!-- <div class="post-img position-relative overflow-hidden">
                <img src= {% static "assets/img/blog/blog-2.jpg" %} class="img-fluid" alt="">
                <span class="post-date">Abril 09</span>
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title">DAOS: ¿Qué son y cómo funcionan legalmente?</h3>

                <div class="meta d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i> <span class="ps-2">Gisele Cano</span>
                  </div>
                  <span class="px-3 text-black-50">/</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i> <span class="ps-2">Blockchain y sociedades</span>
                  </div>
                </div>

                <p>
                Las DAOS son la forma asociativa mas novedosa despues de las sociedades anónimas. 
                </p>

                <hr>

              <a href= "{% url "Leer mas" %} " class="readmore stretched-link"><span>Leer mas...</span><i
                    class="bi bi-arrow-right"></i></a>

              </div>

            </div> -->
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <div class="post-item position-relative h-100">

              <!-- <div class="post-img position-relative overflow-hidden">
                <img src= {% static "assets/img/blog/blog-3.jpg" %} class="img-fluid" alt="">
                <span class="post-date">Abril 05</span>
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title">Legal Design: un nuevo enfoque en la creación de contratos.</h3>

                <div class="meta d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i> <span class="ps-2">Gisele Cano</span>
                  </div>
                  <span class="px-3 text-black-50">/</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i> <span class="ps-2">Legal Design</span>
                  </div>
                </div>

                <p>
                  La nueva generación de contratos, y abogados, enfocados en las personas usuarias. 
                </p>

                <hr>

                <a href= "{% url "Leer mas" %} " class="readmore stretched-link"><span>Leer mas...</span><i
                    class="bi bi-arrow-right"></i></a> -->

              </div>

            </div>
          </div>
          <!-- End post list item -->



  </main><!-- End #main -->

{% endblock contenidoquecambia %}