
{% extends 'main.html' %}

{% load static %}

{% block contenidoquecambia %}



  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static 'assets/img/book2.jpg' %});">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      <h2>Equipo Jura</h2>
      <ol>
     <li><a href="{% url 'Inicio' %}">Home</a></li>
        <li>¿Quienes somos?</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->

     <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row position-relative">

          <div class="col-lg-7 about-img" style="background-image: url({% static 'assets/img/arrow.jpg' %});"></div>

          <div class="col-lg-7">
            <h2>¿De dónde venimos y a dónde vamos?</h2>
            <div class="our-story">
              <h4>Desde 2014</h4>
              <h3>Nuestra historia</h3>
              <p>En el año 2014, fundamos nuestro estudio jurídico con la visión de ofrecer soluciones legales creativas y efectivas a nuestros clientes en un mundo empresarial en constante evolución.</p>
<p>A lo largo de estos años, hemos desarrollado un enfoque innovador en el diseño legal, que nos permite abordar los problemas legales de nuestros clientes de manera más eficiente y efectiva. Además, hemos adoptado una cultura agile, lo que nos permite adaptarnos rápidamente a los cambios y necesidades de nuestros clientes.</p>
<p>Nuestro compromiso con la excelencia y la innovación nos ha permitido crecer y convertirnos en un estudio jurídico reconocido por su creatividad y eficacia en la resolución de conflictos comerciales y empresariales.</p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>Enfoque innovador en legal design</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Cultura emprendedora</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Cultura agile</span></li>
              </ul>
              <p>Nos caracteriza nuestra capacidad para integrar nuevas tecnologías en nuestros servicios jurídicos, lo que nos permite ofrecer soluciones innovadoras y eficientes para nuestros clientes. 
              </p>

              <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="https://youtu.be/0HGAju9ZEtw" class="glightbox stretched-link">Ver Video</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter section-bg">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Happy Clients</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Proyectos</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-headset color-green flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Horas de trabajo</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-people color-pink flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Equipo</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Alt Services Section ======= -->
    <section id="alt-services" class="alt-services">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url({% static 'assets/img/diferencia.jpg' %});" data-aos="zoom-in"
            data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>¿Qué nos diferencia?</h3>
            <p>Somos diferentes porque pensamos diferente</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Estructura simple</a></h4>
                <p>Pagás solo el servicio, no infraestructura y lujos que no necesitas</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Procesos eficientes</a></h4>
                <p>Nuestro enfoque tecnológico nos permite combinar la experiencia jurídica con las nuevas tendencias tecnológicas para ofrecer un servicio de alta calidad 
                que se adapta a las necesidades de nuestros clientes. 
                 De este modo, podemos ofrecer soluciones legales eficaces y rápidas para nuestros clientes, sin comprometer la calidad o precisión de nuestro trabajo. 
                 Creemos que esto es clave en un mercado donde la rapidez y la efectividad son fundamentales para el éxito empresarial</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Contacto personal y directo</a></h4>
                <p>Amamos la tecnología, pero para los asuntos humanos preferimos hablar con y entre humanos. 
                Eliminamos intermediarios en la comunicación, asignando a cada cliente un socio de contacto directo, teléfonos de contacto inmediato, 
                consultas simples por vía streaming y mensajería instantánea</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Cultura emprendedora</a></h4>
                <p>Somos emprendedores y promovemos la cultura emprendedora, lo que nos permite entender y abordar los desafíos de nuestros clientes desde una perspectiva más empresarial. 
                Trabajamos junto a nuestros clientes como un socio estratégico, brindando un enfoque creativo
                 y proactivo en la resolución de problemas, lo que nos diferencia de otros estudios jurídicos que pueden tener un enfoque más tradicional.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

    <!-- ======= Alt Services Section 2 ======= -->
    <section id="alt-services-2" class="alt-services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Enfoque en las personas y lenguaje claro</h3>
            <p>Trabajamos con personas, por personas y para personas. Por eso trabajamos en el marco del Legal Design y Lenguaje Claro, 
            lo que nos permite ofrecer soluciones legales innovadoras, accesibles y fáciles de entender para nuestros clientes.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Diseño Legal</a></h4>
                <p>El Legal Design es una metodología centrada en las oersonas que busca simplificar y hacer más comprensibles los 
                documentos legales para los clientes, y para los clientes de nuestros clientes. De esta manera, las personas pueden tener una experiencia más satisfactoria y 
                efectiva al momento de interactuar con los documentos legales, reducir la conflicitividad y mejorar la comunicación y confianza entre las partes.   
                Estamos comprometidos en utilizar todas las herramientas a nuestra disposición para facilitar el acceso a la justicia y hacer que el proceso legal sea más accesible para todos.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Lenguaje claro</a></h4>
                <p>Uno de los pilares del diseño legal es el lenguaje claro. No creemos que hablar difícil y con jerga sea signo de calidad profesional o conocimiento. </p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Diseño visual</a></h4>
                <p>Una imágen vale mas que mil palabras. Por eso fortalecemos nuestros instrumentos, explicaciones y contenidos con soportes visuales como infografías, gráficos, tablas... y a veces hasta memes </p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Cultura Agile</a></h4>
                <p>Los negeocios y la realidad misma son cada vez mas vertiginosos. Nuestra manera de adaptarnos a ese contexto, sin morir en el intento, es aplicando metodologías agiles a todos nuestos procesos. 
                En particular, implementamos Kanvan para servicios jurídicos, potenciado sobre la tecnología Click Up. Además, facilitamos y automatizamos la producción de instrumentos medianto Python y Doccasemble. </p>
              </div>
            </div><!-- End Icon Box -->
          </div>
          

          <div class="col-lg-6 img-bg" style="background-image: url({% static 'assets/img/people.jpg' %});" data-aos="zoom-in"
            data-aos-delay="100"></div>
        </div>

      </div>
    </section><!-- End Alt Services Section 2 -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h2>Nuestro equipo</h2>
          <p>Conocé al equipo de personas que hace posible la experiencia Jura</p>
        </div>

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'assets/img/team/gisele.jpg' %}" class="img-fluid" alt="">
              <div class="social">
              <a href="https://www.linkedin.com/in/mgiselecano/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Gisele Cano</h4>
              <span>Socia Fundadora</span>
              <p>Abogada - Mg. derecho Empresario - Legal Designer
              </p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Juana Del Bianco</h4>
              <span>Abogada - Gerente de gestión extrajudicial</span>
              <p>Acompañando a nuestros clientes en toda la gestión extrajudicial de sus asuntos</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Martín Paz</h4>
              <span>Gerente de tecnología y desarrollo</span>
              <p>Full Stack Web Dev. Aportando la mente y habilidades programáticas a todos nuestros proyectos</p>
            </div>
          </div><!-- End Team Member --> 

          {% comment %} <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="{% static 'assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
              <p>Magni voluptatem accusamus assumenda cum nisi aut qui dolorem voluptate sed et veniam quasi quam
                consectetur</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="{% static 'assets/img/team/team-5.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Brian Doe</h4>
              <span>Marketing</span>
              <p>Qui consequuntur quos accusamus magnam quo est molestiae eius laboriosam sunt doloribus quia impedit
                laborum velit</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
            <div class="member-img">
              <img src="{% static 'assets/img/team/team-6.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Josepha Palas</h4>
              <span>Operation</span>
              <p>Sint sint eveniet explicabo amet consequatur nesciunt error enim rerum earum et omnis fugit eligendi
                cupiditate vel</p>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Our Team Section --> {% endcomment %}

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>¿Qué dicen nuestros clientes?</h2>
          <p>Nada sería posible sin el increible conjunto de personas que nos eligen día a día. Estas son algunas de sus devoluciones</p>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Pedro De León</h3>
                  <h4>Ceo &amp; Fundador</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Lo mejor de trabajar con Uds. es que pudimos visualizar juntos nuestro proyecto y trabajar a la par para hacerlo realidad. 
                    No queriamos que legales sea "una máquina de generar limitaciones" y Uds. lo hicieron posible
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Martinez</h3>
                  <h4>Diseñadora</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Nuestro trabajo tiene muchas particularidades que muchos no entienden. Me encanta trabajar con Uds. que no tengo que andar explicando cada detalle de mi trabajo para que entiendan que necesito. 
                    Además, me suma un montón que sean proactivos al proponer cambios o mejoras que no había pedido pero que suman mucho al asegurar y ofrecer mi trabajo. 
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Mariana Benvenutti</h3>
                  <h4>Emprendedora</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Amo el criterio de "mínimi legal viable" que usan para encontrar algo factible pero seguro al momento de emprender. De este modo podemos ocuparnos de crecer de manera segura, sabiendo en donde tenemos que mejorar
                    pero sin correr grandes riesgos o poner en juego nuestro proyecto.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Matías Brandoni</h3>
                  <h4>Freelancer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    El sistema de abono a medida es excelente para los que no podemos compromenternos a un pago mensual, pero necesitamos soporte legal en varios momentos de algunos proyectos. De esta manera no me tengo que preocupar
                    por sumar un costo extra y estoy seguro de tener el respaldo necesario cuando lo necesito.  
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Marina Biancotti</h3>
                  <h4>Emprendedora</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Estamos muy contentos de haber encontrado abogados que hacen "dibujitos". Las dinámicas de ideado, definición y prototipado fueron sumamente entrentenidas y útiles para definir
                    los aspectos legales, pero también muchos puntos del modelo de negocio y de nuestros procesos internos que no teníamos claros. 
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->



    {% endblock contenidoquecambia %}